* {
  box-sizing: border-box;
}

body {
  background: hsl(210, 6%, 94%);
  font-family: "Outfit";
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 800px;
}

aside {
  width: 350px;
  box-shadow: 0 20px 10px hsl(210, 3%, 88%);
  border-radius: 1rem;
}

aside * {
  margin: 0;
}

aside img {
  max-width: 90%;
  border-radius: 0.8rem;
}

aside p {
  width: 75%;
  color: hsl(220, 15%, 55%);
}

aside h3 {
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
}

article {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 0.8rem;
}

.attribution a {
  text-decoration: none;
}
